<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>RecommendationSystem</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>users.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>users.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>users.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>users.AdminServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>users.ProfileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PCBuilder</servlet-name>
		<servlet-class>product.PCBuilder</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/home.jsp</jsp-file>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/register.jsp</jsp-file>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProduct</servlet-name>
		<jsp-file>/addproduct.jsp</jsp-file>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/AddProduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Profile</servlet-name>
		<jsp-file>/profile.jsp</jsp-file>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>products.ProductTracker</listener-class>
	</listener>


</web-app>